.cabecalho {
  width: 100%;
  text-align: justify;
  padding: 20px;
  height: fit-content;
}

.cabecalho p {
  color: #4057c1eb;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 10px;
}

.cabecalho h1 {
  color: #000;
  font-size: 24px;
  font-weight: 600;
  margin-top: 0;
}

hr {
  color: #253B9D;
}

.botao-sair {
  position: relative;
}

.botao-sair p {
  color: #4057c1eb;
  font-size: 12px;
  font-weight: 700;
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: pointer;
  margin: 0;

  &:hover {
    text-decoration: underline;
  }
}